.footer
  .container
    .row

// Footer end
// jQuery (necessary for Bootstrap's JavaScript plugins)
script(src='js/jquery.min.js')
// Include all compiled plugins (below), or include individual files as needed
script(src='js/bootstrap.min.js')
script(src='js/bootstrap-select.min.js')
script(src='js/bootstrap-datepicker.js')
script(src='js/imagesloaded.pkgd.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='https://maps.googleapis.com/maps/api/js?libraries=places&sensor=true')
script(src='js/jquery.geocomplete.min.js')
script(src='js/main.js')
