+date-and-weather-widget()
+tab-widget()

+last-articles-widget()


+image-ad-widget("images/leo.jpg", "description")

+scrollable-widget()

+square-ads-widget()

+image-ad-widget("images/yomaty.png", "description")
+image-ad-widget("images/mobile-news.png", "description")
+image-ad-widget("images/local.jpg", "description")

+mail-widget()

+image-ad-widget("images/leo.jpg", "description")
