div.sec.mvm
  div.sec__content.pam
    ul.nav.nav-static
      li.active
        a(href="/about") عن ولاد البلد
      hr.mvn
      li
        a(href="/team") المحررين و طاقم العمل
      hr.mvn
      li
        a(href="/contactus") اتصل بنا