include includes/mixins
extends layout

block content
  .wrapper
    .container
      .row
        .col-lg-3.col-md-3.col-xs-12.col-ms-12
          include includes/sidebar-static
          
        .col-lg-9.col-md-9.col-xs-12.col-ms-12
          div.sec.mvm
            div.sec__content.pam
              h2.fslg شركة ولاد البلد للخدمات الإعلامية ش.ذ.م.م
              p(style='white-space: pre;') شركة ولاد البلد للخدمات الاعلامية (ش.ذ.م.م) و مقرها القاهرة
                | و لدي ولاد البلد فروع في محافظات مصر تصدر صحف ورقية و هي
                | صحيفة النجعاوية - قنا
                | صحيفة دشنا اليوم - قنا
                | صحيفة ولاد البلد - المنصورة 
                | صحيفة مطروح لنا - مطروح
                | صحيفة الفيومية - الفيوم

              p و تثدم ولاد البلد خدمات اعلامية 
              br
              p و تهديف الشركة إلي
              p و في ظل الازمة
              p و لمحدودية الصحافة المحلية

