include includes/mixins
extends layout

block content
  .wrapper
    .container
      .row
        .col-md-8.col-ms-8.col-xs-8.col-md-offset-2.col-ms-offset-2.col-xs-offset-2
          div.sec.mvm
            div.sec__content.pam
              div.row
                div.col-lg-12.col-md-12.col-xs-12.col-ms-12.mrl
                  h1.ws-secondary-color Enter your crops
                  p This system aims to help you protect your crops from the pests and diseases.
                div.col-lg-12.col-md-12.col-xs-12.col-ms-12.pln
                  form#cropForm.pll(role="form")
                    .cropsForm
                      div.col-lg-12.col-md-12.col-xs-12.col-ms-12
                        label.control-label.fl(for="inputCropStartDate") Crop start date:
                        input.form-control.mbl#inputCropStartDate(type="text", placeholder="Crop creation date")
                      div.col-lg-12.col-md-12.col-xs-12.col-ms-12
                        label.control-label.fl(for="inputCropName") Select crop name:
                        select(data-size="5")#inputCropName.select-crop.form-control.mbl
                          option(value="pest1") pest1
                          option(value="pest2") pest2
                          option(value="pest3") pest3
                      div.col-lg-12.col-md-12.col-xs-12.col-ms-12
                        label.control-label.fl(for="inputParcelID") Parcel ID:
                        input.form-control.mbl#inputParcelID(type="text")
                      div.col-lg-12.col-md-12.col-xs-12.col-ms-12
                        label.control-label.fl(for="inputIrrigation") Type of irrigation:
                        select(data-size="5")#inputIrrigation.select-crop.form-control.mbl
                          option(value="pest1") pest1
                          option(value="pest2") pest2
                          option(value="pest3") pest3
                      div.col-lg-12.col-md-12.col-xs-12.col-ms-12
                        label.control-label.fl(for="inputSoil") Type of soil:
                        select(data-size="5")#inputSoil.select-crop.form-control.mbl
                          option(value="pest1") pest1
                          option(value="pest2") pest2
                          option(value="pest3") pest3
                      div.col-lg-12.col-md-12.col-xs-12.col-ms-12
                        label.control-label.fl(for="inputArea") Farmland area:
                        input.form-control.mbl#inputArea(type="text")
                      div.col-lg-12.col-md-12.col-xs-12.col-ms-12.mbl
                        label.control-label.fl(for="searchLocation") Select your land position:
                        input.form-control.mbl#searchLocation(type="text")
                        div#map-canvas(style="height:300px")

                    div.col-lg-12.col-md-12.col-xs-12.col-ms-12
                      a.btn.btn-custom.primary.fl.pls.prs.pts.pbs.addNewCrop(href="#") Add new crop
                    
                    div.col-lg-12.col-md-12.col-xs-12.col-ms-12
                      h6.al.spliter Interested about other crops? select them and you will get their news
                      select(data-size="5" multiple)#inputCropName.select-crop.form-control.mbl
                        option(value="pest1") pest1
                        option(value="pest2") pest2
                        option(value="pest3") pest3
                    div.col-lg-12.col-md-12.col-xs-12.col-ms-12
                      label.checkbox-inline.fl(for="smsCheckbox") 
                        input#smsCheckbox(type='checkbox') 
                        |Send via SMS
                      
                    div.col-lg-12.col-md-12.col-xs-12.col-ms-12
                      button.btn.btn-custom.secondary(type="submit") submit

