include includes/mixins
extends layout

block content
  .wrapper
    .container
      .row
        .col-md-8.col-ms-8.col-xs-8.col-md-offset-2.col-ms-offset-2.col-xs-offset-2
          div.sec.mvm
            div.sec__content.pln
              div.row.mlm.mrm
                div.col-lg-12.col-md-12.col-xs-12.col-ms-12.mrl
                  h2.ws-secondary-color Galileo Team
                  p We are an Egyptian team who has different experience in various fields.
                div.col-lg-6.col-md-6.col-xs-12.col-ms-12
                  .member.mbl.mtl
                    img.img-circle(src="images/rania-avatar.jpg", alt="")
                    a(href="/writer")
                      .member-name.fwb Rania Elsayed
                    .member-position.grey.mts Researcher, National Authority for Remote Sensing and Space Sciences
                div.col-lg-6.col-md-6.col-xs-12.col-ms-12
                  .member.mbl.mtl
                    img.img-circle(src="images/mona-avatar.jpg", alt="")
                    a(href="/writer")
                      .member-name.fwb.red Mona Yones
                    .member-position.grey.mts Frontend Engineer
                div.col-lg-6.col-md-6.col-xs-12.col-ms-12
                  .member.mbl.mtl
                    img.img-circle(src="images/mostafa-avatar.jpg", alt="")
                    a(href="/writer")
                      .member-name.fwb.red Mostafa Al-Mahroqy
                    .member-position.grey.mts Frontend Engineer
                div.col-lg-6.col-md-6.col-xs-12.col-ms-12
                  .member.mbl.mtl
                    img.img-circle(src="images/mahmoud-avatar.jpg", alt="")
                    a(href="/writer")
                      .member-name.fwb.red Mahmoud El-bagoury
                    .member-position.grey.mts Project Technical Lead at Universal Weather and Aviation
                div.col-lg-6.col-md-6.col-xs-12.col-ms-12
                  .member.mbl.mtl
                    img.img-circle(src="images/nouran-avatar.jpg", alt="")
                    a(href="/writer")
                      .member-name.fwb.red Nouran Mahmoud
                    .member-position.grey.mts Frontend Engineer at ta3rifah.com
